.search-results-container{
    display: grid;
    grid-row: 1;
    .search-results-item {
        .search-results-image {
            grid-column: 1;
            
          }
          .search-results-title {
            grid-column: 2;
            grid-row: 1;
          }
          .search-results-desc {
            grid-column: 2;
            grid-row: 2;
          }
    }
}