@import '../../assets/scss/variables.scss';

.product-container {
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: $white;

  .product-image{
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }
  
  .product-container-attributes{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  
      .product-container-attribute {
      display: flex;
      flex-direction: row;
      }
  }
}