$white: #FFF !default;
$black: #000 !default;
$yellow: #FFE600;
$gray-950: #333333;
$gray-750: #666666;
$gray-500: #999999;
$gray-200: #EEEEEE;
$light-blue: #3483FA;
$light-blue-hover: #1E6DFF;
$background: $gray-200;