@import '../../assets/scss/variables.scss';

.page-container {
  //display: inline-block;
  flex-grow: 1;
}
.search-input-container {
  display: inline-flex;
  height: 39px;
  width: calc(100% - 77px);

  .search-input {
    width: 100%;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 0 16px;
    color: $gray-950;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $gray-500;
    }
  }

  .search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 48px;
    background-color: $gray-200;
    border-radius: 0 4px 4px 0;
    border: none;

    //&:focus {
      //outline: none;
    //}
  }
}